<html>
	<head>
		<title></title>

		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/offcanvas.css" rel="stylesheet">
		<link href="/static/css/custom.css" rel="stylesheet">
	
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>		
		{% block js %}
		{% endblock %}
	</head>
	<body>	
		<div class="container">
			
			<!-- navigation -->
			<div class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Workator</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						{% url 'tasks_onlynew' as tasks_onlynew_url %}
						{% url 'tasks_history' as tasks_history_url %}

						{% if request.path == tasks_onlynew_url %}
							<li class="active"><a href="{{ tasks_onlynew_url }}">Только новые</a></li>
						{% else %}
							<li><a href="{% url 'tasks_onlynew' %}">Только новые</a></li>
						{% endif %}
						
						{% if request.path == tasks_history_url %}
							<li class="active"><a href="{{ tasks_history_url }}">История</a></li>
						{% else %}
							<li><a href="{{ tasks_history_url }}">История</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
			<!-- end navigation -->
			
			{% block content %}
			{% endblock %}

			<footer>
				{% block footer %}
				<p>© eremeev.dev 2014</p>
				{% endblock %}
			</footer>

		</div>
	</body>		
</html>
