{% for task in tasks %}
	<div class="row well">
		<div class="col-xs-8">
			<a class="show_more">{{task.id}} {{task.title}}</a>
			<div style="display:none" class="description">{{task.description}}</div>          
		</div>				
		<div class="col-xs-4">          
			 <span class="label label-default btn show_more">Подробнее</span>
			 <span class="label label-default">{{task.date_create}}</span> 
			 <span class="label label-success">{{task.source}}</span>
		</div>
	</div>	
{% endfor %}
<div class="row well"></div>