{% extends "aggregator/base.html" %}

{% block js %}
	<script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/2.3.0/knockout-min.js"></script>
	<script src="/static/js/app.js"></script>
{% endblock %}

{% block content %}
	<div class="row well" align="center" data-bind="visible: cntSince">
		<a data-bind="click: updateTasks" href='#'>Новых записей: <span data-bind="text: cntSince"></span></a>
	</div>
	
	<div class="row well" align="center" data-bind="visible: showEmptyText">
		<span align="center">Непрочитанных записей нет</span>
	</div>


	<div data-bind="foreach: tasks">
		<div class="row well">
			<div class="col-xs-7">				
				<a class="show_more" data-bind="text: title, click:	$parent.showMore">1</a>
				<div style="display:none" class="description"><span data-bind="html: description"></div>
			</div>
			<div class="col-xs-5">
				<a class="label label-default" target="blank" data-bind="attr: {href: task_url}">Подробнее</a>
				<span class="label label-default" data-bind="text: date_create"></span> 
				<span class="label label-success" data-bind="text: source"></span>
			</div>
		</div>
	</div>
{% endblock %}