{% extends "aggregator/base.html" %}

{% block js %}
	<script src="/static/js/history.js"></script>
{% endblock %}

{% block content %}
	{% autoescape off %}
	{% for task in tasks %}
		<div class="row well">
			<div class="col-xs-7">
				<a class="show_more">{{task.title}}</a>
				<div style="display:none" class="description">{{task.description}}</div>					
			</div>				
			<div class="col-xs-5">					
				<a target="blank" class="label label-default" href="{{task.task_url}}">Подробнее</a>
				<span class="label label-default">{{task.date_create}}</span> 
				<span class="label label-success">{{task.source}}</span>
			</div>
		</div>
	{% endfor %}
	{% endautoescape %}
	<ul class="pagination">
		{% if page.has_previous %}
			<li><a href="?page={{page.previous_page_number}}">&laquo;</a></li>
		{%else %}
			<li class="disabled"><a href="#">&laquo;</a></li>
		{% endif %}		
		{% if page.has_next %}
			<li><a href="?page={{page.next_page_number}}">&raquo;</a></li>		
		{% else %}
			<li class="disabled"><a href="#">&raquo;</a></li>
		{% endif %}
	</ul>

{% endblock %}